<template name="adminpanel">		
		<div class="uk-section">
			<div class="uk-container">
				<div uk-grid>
					<div class="uk-width-expand">
						<div class="uk-card uk-card-default uk-card-body">
							<ul uk-tab uk-switcher>
								<li><a href="#">Users</a></li>
								<li><a href="#">Invites</a></li>
								<li><a href="#">About</a></li>
							</ul>
							
							<ul class="uk-switcher">
								<li><div class="uk-overflow-auto"><table class="uk-table">
									<caption>myDiabetes Users</caption>
									{{#if Template.subscriptionsReady}}
									<thead>
										<tr>
											<th>Email</th>
											<th>Role</th>
											<th>Manage</th>
										</tr>
									</thead>
									<tbody>
									  {{#each users}}
										{{> myuser}}
									  {{/each}}
									</tbody>
									{{else}}
										{{> spinner}}
									{{/if}}
								</table></div></li>
								
								<li><div class="uk-overflow-auto"><table class="uk-table">
									<caption>myDiabetes Invites</caption>
									{{#if Template.subscriptionsReady}}
									<thead>
										<tr>
											<th>Email</th>
											<th>Invited</th>
											<th>Date</th>
											<th>Token</th>
											<th>Account Created</th>
											<th>Manage</th>
										</tr>
									</thead>
									<tbody>
									  {{#each tasks}}
										{{> invite}}
									  {{/each}}
									</tbody>
									{{else}}
										{{> spinner}}
									{{/if}}
								</table></div></li>
								
								<li><div class="uk-overflow-auto"><table class="uk-table">
									<caption>About</caption>
								</table></div></li>
							</ul>
						</div>
					</div>
					<div>
						<div class="uk-card uk-card-default uk-card-body">
							<div class="uk-flex uk-flex-column">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div id="edit-user-modal" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<h2 class="uk-modal-title">Edit User</h2>
					<ul uk-tab uk-switcher>
						<li><a href="#">Personal Info</a></li>
						<li><a href="#">Insulin Ratio</a></li>
					</ul>
							
					<ul class="uk-switcher">
						<li></li>
						<li>
							<form class="update-insulin">
								<div class="uk-margin">
									<input class="uk-input" type="text" placeholder="Total Dose" name="totalDose">
								</div>
								<input type="text" value="{{clickedId}}" style="display:none;" name="uid"/>
								<input type="submit"/>
							</form>						
						</li>
					</ul>
			</div>
		</div>
</template>

<template name="invite">
	<tr>
		<td>{{email}}</td>
		<td>{{invited}}</td>
		<td>{{requested}}</td>
		<td>{{token}}</td>
		<td>{{accountCreated}}</td>
		{{#if isInRole 'super-admin' 'staff'}}
		<td>{{#if invited}} {{else}}<a class="sendInvite" title="Send Invite" uk-tooltip><i class="fa fa-envelope"></i></a> {{/if}}<a class="deleteInvite" title="Delete Invite" uk-tooltip><i class="fa fa-trash"></i></a></td>
		{{/if}}
	</tr>
</template>

<template name="myuser">
	<tr>
		<td>{{email}}</td>
		<td>
            <select {{disableIfAdmin _id}} name="userRole" class="form-control uk-select">
                <option selected="{{selected roles.[0] 'super-admin'}}" value="super-admin">Admin</option>
                <option selected="{{selected roles.[0] 'doctor'}}" value="doctor">Doctor</option>
				<option selected="{{selected roles.[0] 'patient'}}" value="patient">Patient</option>
            </select>
		</td>	
		<td>{{#if isInRole 'super-admin' 'staff'}}<a class="deleteUser" title="Delete Invite" uk-tooltip><i class="fa fa-trash"></i></a> {{/if}}<a style="{{disableIfDoctorAdmin _id}}" class="impersonate" data-impersonate="{{_id}}" title="Impersonate this user" uk-tooltip><i class="fa fa-key"></i></a> <a href="#edit-user-modal" data-state="{{_id}}" class="editUser" title="Edit user" uk-tooltip uk-toggle><i class="fa fa-pencil"></i></a></td>	

	</tr>
</template>