<template name="dashboard">
		<div class="uk-section">
			<div class="uk-container">
				<div uk-grid>
					<div>
						<div class="uk-card uk-card-default uk-card-body">
							<h3 class="uk-card-title">Test</h3>
							<p>Welcome user, this is your new dashboard.</p>
						</div>
					</div>
					<div>
						<div class="uk-card uk-card-default uk-card-body">
							<h3 class="uk-card-title">Test</h3>
						</div>
					</div>
					<div>
						<div class="uk-card uk-card-default uk-card-body">
							<h3 class="uk-card-title">Test</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
</template>
