<template name="flibrary">		
		<div class="uk-section">
			<div class="uk-container">
				<div uk-grid>
					<div class="uk-width-1-4">
						{{#if isInRole 'doctor,super-admin' 'staff'}}
						<div class="uk-card uk-card-default uk-card-body">
							<div class="uk-flex uk-flex-column">
									<a href="#add-record-modal" class="uk-button uk-button-default" uk-toggle>Add Record</a>
									<a href="" class="uk-button uk-button-default uk-margin-small-top">Settings</a>
							</div>
						</div>
						{{/if}}
						<div class="uk-card uk-card-default uk-card-body">
							<h4>Categories {{curYear}}</h4>
							<ul class="uk-flex uk-flex-column uk-padding-remove" uk-switcher="connect: .f-library" style="list-style:none;">
									<li><a href="#" data-state="milk" class="uk-button uk-button-default uk-width-1-1">Milk, Yogurt</a></li>
									<li><a href="#" data-state="sweetdessert" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Sweet Desserts</a></li>
									<li><a href="#" data-state="savoury" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Savoury Desserts</a></li>
									<li><a href="#" data-state="vegetables" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Vegetables</a></li>
									<li><a href="#" data-state="starchvege" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Starchy Vegetables</a></li>						
									<li><a href="#" data-state="starchbiscuit" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Starch (Biscuit)</a></li>
									<li><a href="#" data-state="starchfruit" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Starch (Fruit)</a></li>
									<li><a href="#" data-state="starchcarb" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Starch (Rice, Noodle, Grain, Pasta)</a></li>
									<li><a href="#" data-state="starchcereal" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Starch (Cereal)</a></li>
									<li><a href="#" data-state="starchbread" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Starch (Bread & Bun)</a></li>
									<li><a href="#" data-state="fastfood" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Fast Food</a></li>
									<li><a href="#" data-state="drink" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Drinks</a></li>
									<li><a href="#" data-state="drinkcarbon" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Drinks (Carbonated)</a></li>
									<li><a href="#" data-state="sweets" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Sweets</a></li>
									<li><a href="#" data-state="chips" class="uk-button uk-button-default uk-margin-small-top uk-width-1-1">Chips & Crisps</a></li>
							</ul>
						</div>
					</div>
					<div class="uk-width-expand">
						<div class="uk-card uk-card-default uk-card-body">
							<ul class="uk-switcher f-library">
								<li>
									<h4>Milk & Yogurt</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Sweet Desserts</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Savoury Desserts</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Vegetables</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Starchy Vegetables</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Starch (Biscuit)</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Starch (Fruit)</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Starch (Rice, Noodle, Grain, Pasta)</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Starch (Cereal)</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Starch (Bread & Bun)</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Fast Food</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Drinks</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Drinks (Carbonated)</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Sweets</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
								<li>
									<h4>Chips & Crisps</h4>
									<div class="uk-grid-small uk-flex-center" uk-grid>
										{{#if tasks.count}}
											{{#each tasks}} 
												{{> foodview}} 
											{{/each}}
										{{else}}
											<b>No data is available. This might be a problem with the system, please contact an admin/doctor</b>
										{{/if}}
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	{{#if isInRole 'doctor,super-admin' 'staff'}}
	<div id="add-record-modal" uk-modal>
		<div class="uk-modal-dialog uk-modal-body">
			<h2 class="uk-modal-title">Add new record</h2>
			<form class="new-food">
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="Name" name="name">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="Category" name="category">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="Carb" name="carb">
				</div>
				<div class="uk-margin">
					<input type="file" class="imageupload" multiple>
					<button class="uk-button uk-button-default" type="button" tabindex="-1">Select Image</button>
				</div>
				<input type="submit" style="display: none;"/>
			</form>
		</div>
	</div>
	{{/if}}
</template>

<template name="foodview">
	<div class="uk-card uk-card-default uk-margin-right" style="padding:0;max-width:238px;">
		<div class="uk-card-media-top">
				<img src="assets/files/Media/{{picture}}" alt="{{name}}" style="width:100%">
		</div>
		<div class="uk-card-body">
			<h3 class="uk-card-title">{{name}} {{#if isInRole 'doctor,super-admin' 'staff'}}<sup><a class="delete" title="Delete Record" uk-tooltip><i class="fa fa-trash"></i></a></sup>{{/if}}</h3>
			<ul>
				<li>Carbohydrates: {{carb}}</li>
			</ul>
		</div>
	</div>
</template>