<template name="logbook">		
		<div class="uk-section">
			<div class="uk-container">
				<div uk-grid>
					<div class="uk-width-expand">
						<div class="uk-card uk-card-default uk-card-body">
							<ul uk-tab uk-switcher>
								<li><a href="#">Daily Logs</a></li>
								<li><a href="#">Lab Results</a></li>
							</ul>
							
							<ul class="uk-switcher">
								<li><table class="uk-table">
									<caption>My Logbook for <b>{{curYear}}</b></caption>
									{{#if Template.subscriptionsReady}}
									<thead>
										<tr>
											<th>Date</th>
											<th>Pre-Breakfast <br>(Bolus +/ Correction)</th>
											<th>Pre-Lunch <br>(Bolus +/ Correction)</th>
											<th>Pre-Dinner <br>(Bolus +/ Correction)</th>
											<th>Pre-Bed <br>(Basal +/ Correction)</th>
											<th>3AM <br>(Correction)</th>
											<th>Manage</th>
										</tr>
									</thead>
									<tbody>
									  {{#each tasks}}
										{{> logs}}
									  {{/each}}
									</tbody>
									{{else}}
										{{> spinner}}
									{{/if}}
								</table></li>
								<li><table class="uk-table">
									<caption>My Lab Results for <b>{{curYear}}</b> - (Please consult your doctor to have them input the latest data)</caption>
									{{#if Template.subscriptionsReady}}
									<thead>
										<tr>
											<th>Date</th>
											<th title="Hemoglobin A1C" uk-tooltip>HbA1C</th>
											<th title="Random fasting glucose" uk-tooltip>Fasting Sugar</th>
											<th title="Body Mass Index" uk-tooltip>BMI</th>
											<th>Microalbumin</th>
											<th>Lipid</th>
											<th>Creatinine</th>
											{{#if isInRole 'doctor,super-admin' 'staff'}}
											<th>Edit</th>
											{{/if}}
										</tr>
									</thead>
									<tbody>
									  {{#each labresults}}
										{{> labresult}}
									  {{/each}}
									</tbody>
									{{else}}
										{{> spinner}}
									{{/if}}
								</table></li>
							</ul>
						</div>
					</div>
					<div>
						<div class="uk-card uk-card-default uk-card-body">
							<div class="uk-flex uk-flex-column">
									<a href="#add-record-modal" class="uk-button uk-button-default" uk-toggle>Add Record</a>
									{{#if isInRole 'doctor,super-admin' 'staff'}}
										<a href="#add-lab-record-modal" class="uk-button uk-button-default uk-margin-small-top" uk-toggle>Add Lab Record</a>
									{{/if}}
									<a href="" class="uk-button uk-button-default uk-margin-small-top">Settings</a>
							</div>
						</div>
						<div class="uk-card uk-card-default uk-card-body">
							<h3 class="uk-card-title">Insulin Ratios <sup><a href="#edit-ratio-modal" class="edit" title="Edit Insulin Ratios" uk-tooltip uk-toggle><i class="fa fa-pencil"></i></a> | <a href="" class="refreshRatio" title="Refresh Insulin Ratios" uk-tooltip><i class="fa fa-refresh"></i></a></sup></h3>
							<h5 title="Insulin Sensitivity Factor" uk-tooltip>ISF: {{ isf }}mmol/unit</h5>
							<h5 title="Insulin Carbohydrate Ratio" uk-tooltip>ICR: {{ icr }}g CHO/unit</h5>
						</div>
						<div class="uk-card uk-card-default uk-card-body">
							<h3 class="uk-card-title">Calculate Correction <sup style="font-size:10px;top:-1em">BETA</sup></h3>
							<form class="calcCorrection">
								<div class="uk-margin">
									<input class="uk-input" type="text" placeholder="Glucose Reading" name="reading">
								</div>
								<input type="submit" style="display: none;"/>
							</form>
							<h5>Result: {{ correction }}</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	<div id="add-record-modal" uk-modal>
		<div class="uk-modal-dialog uk-modal-body">
			<h2 class="uk-modal-title">Add new record</h2>
			<form class="new-record">
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="pre-Breakfast" name="prebreakfast">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="pre-Lunch" name="prelunch">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="pre-Dinner" name="predinner">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="pre-Bed" name="prebed">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="3AM" name="midnight">
				</div>
				<input type="submit" style="display: none;"/>
			</form>
		</div>
	</div>
	
	{{#if isInRole 'doctor,super-admin' 'staff'}}
	<div id="add-lab-record-modal" uk-modal>
		<div class="uk-modal-dialog uk-modal-body">
			<h2 class="uk-modal-title">Add new record</h2>
			<form class="new-labrecord">
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="hba1c" name="hba1c">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="fasting glucose" name="fast">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="bmi" name="bmi">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="microalbumin" name="malbumin">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="lipid" name="lipid">
				</div>
				<div class="uk-margin">
					<input class="uk-input" type="text" placeholder="creatinine" name="crea">
				</div>
				<input type="submit" style="display: none;"/>
			</form>
		</div>
	</div>
	{{/if}}
	
	<div id="edit-ratio-modal" uk-modal>
		<div class="uk-modal-dialog uk-modal-body">
			<h2 class="uk-modal-title">Edit insulin ratios</h2>
			{{> quickForm collection="UserInfo" doc=currentUser id="insulin-ratio" type="update" }}
			</div>
		</div>

</template>

<template name="logs">
	<tr>
		<td>{{date}}</td>
		<td>{{prebreakfast}} <br>(Bolus: {{bolus1}}u)</td>
		<td>{{prelunch}} <br>(Bolus: {{bolus2}}u)</td>
		<td>{{predinner}} <br>(Bolus: {{bolus3}}u)</td>
		<td>{{prebed}} <br>(Basal: {{basal}}u)</td>
		<td>{{midnight}}</td>
		<td><a href="#edit-record-modal" class="edit" title="Edit Record" uk-tooltip uk-toggle><i class="fa fa-pencil"></i></a> <a class="delete" title="Delete Record" uk-tooltip><i class="fa fa-trash"></i></a> <a href="#notes-modal" title="Edit Notes" uk-tooltip uk-toggle class="notes"><i class="fa fa-sticky-note"></i></a></td>
		
		<div id="edit-record-modal" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<h2 class="uk-modal-title">Edit record for {{date}}</h2>
				{{> quickForm collection="Logbook" doc=this id=this._id type="update" }}
			</div>
		</div>
		<div id="notes-modal" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<h2 class="uk-modal-title">Edit notes for {{date}}</h2>
				<form>
					<div class="uk-margin">
						<textarea></textarea>
						</div>
						</form>
			</div>
		</div>
	</tr>
</template>

<template name="labresult">
	<tr>
		<td>{{date}}</td>
		<td>{{hba1c}}</td>
		<td>{{fastsugar}}</td>
		<td>{{bmi}}</td>
		<td>{{malbumin}}</td>
		<td>{{lipid}}</td>
		<td>{{creatinine}}</td>
		{{#if isInRole 'doctor,super-admin' 'staff'}}
		<td><a class="deleteLab" title="Delete Record" uk-tooltip><i class="fa fa-trash"></i></a></td>
		{{/if}}
	</tr>
</template>